#main-container {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.button {
    float:left;
    width:50%;
    height:50%;
}

#nice {
    background-color: red;
}

#right-top {
    background-color: green;
}

#left-bottom {
    background-color: blue;
}

#right-bottom {
    background-color: yellow;
}
